/* CSS Document */
BODY {
    margin: auto;
    padding: 0px;
    background: #CCCCCC;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
}

#wrap {
    background: #FFFFFF;
    margin: auto;
    width: 900px;
    height: auto;
}

header {
    background: url(header.jpg);
    height: 181px;
    width: 900px;
}

#logo {
    padding: 20px 0 0 50px;
}

#menu_top {
    margin-top: 55px;
    margin-left: 30px;
    background: #FFFFFF;
    height: 40px;
    opacity: 0.6;
    border-radius: 10px 0px 0px 10px;
}

.level1 {
    clear: both;
    list-style-type: none;
    padding-top: 12px;
    opacity: 1.0;
    color: #000;
    position: relative;
}

.level1 li {
    display: inline;
    float: left;
    padding: 0px 20px 0px 0px;
    height: 27px;
    font-weight: bold;
}

.level1 li a,
.level1 li a:visited {
    color: red;
    text-decoration: none;
}

.level1 li a:hover {
    color: green;
}

.level2 {
    display: none;
    position: absolute;
    padding: 0px;
    margin-top: 11px;
}

.level1 li:hover >.level2 {
    display: block;
}

.level2 li {
    float: none;
    position: relative;
    display: block;
    padding: 10px;
    height: auto;
    background: #CCC;
}

.level2 li:hover {
    background: #CC0;
}

/*Welcome*/
#welcome {
    background: #FFF;
    padding: 8px;
    vertical-align: middle;
    border: dotted 2px #9C0;
    font-weight: bold;
}

/*New Product*/
#center_content {
    background: url(center_bg.gif) repeat-y;
    width: 900px;
}

#center_content #left {
    width: 500px;
    min-height: 200px;
    float: left;
}

.title {
    color: #B81F22;
    font-size: 17px;
    float: left;
    margin: 10px 10px 10px 15px;
}

.product {
    border-bottom: dashed 1px #ccc;
    float: left;
    margin-top: 5px;
    margin-bottom: 20px;
}

.product .img {
    clear: both;
    float: left;
    margin-left: 20px;
}

.product .description {
    float: right;
    width: 295px;
    padding: 5px 15px;
    border: solid 1px #ddd;
    border-radius: 5px;
}

.product .name {
    color: #B81F22;
    font-weight: bold;
}

.product .about {
    text-align: justify;
}

/* Promotion*/
#center_content #right {
    width: 200px;
    min-height: 200px;
    float: left;
}

#promotion {
    float: left;
    width: 150px;
}

.product_small {
    margin-bottom: 15px;
}

.product_small .name {
    text-align: center;
    color: #666;
}

.product_small .img {
    border-radius: 5px;
    border: solid 1px #ddd;
    text-align: center;
    padding: 10px;
    width: 122px;
    float: left;
}

/*Categories*/
#categories {
    float: right;
    width: 200px;
}

.menu_right {
    list-style-type: none;
    list-style-image: url(left_menu_bullet.gif);
}

.menu_right li {
    padding: 5px 5px 5px 10px;
    border-bottom: dashed 1px #ccc;
    font-weight: bold;
}

/*Footer*/
#footer {
    background: url(footer_bg.gif) no-repeat bottom;
    height: 100px;
    border-top: dashed 1px #ccc;
}

#footer .left {
    float: left;
    width: 600px;
    padding: 10px 10px 10px 20px;
    color: #666666;
}

#footer .right {
    float: right;
    padding: 10px 20px 10px 10px;
}
